@model Grupo1.AgendaDeTurnos.Models.Turno

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Turno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" type="date" min="@DateTime.Now" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <select asp-for="IdPaciente" class ="form-control" asp-items="ViewBag.IdPaciente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesional" class="control-label"></label>
                <select asp-for="IdProfesional" class ="form-control" asp-items="ViewBag.IdProfesional"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdCentro" class="control-label"></label>
                <select asp-for="IdCentro" class ="form-control" asp-items="ViewBag.IdCentro"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

