@model Grupo1.AgendaDeTurnos.Models.Paciente

@{
    ViewData["Title"] = "Crear Paciente";
}

<h1>@($"{ this.ViewData["Title"] }") </h1>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group col-md-6">            
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" autofocus />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
    </div>   

    <div class="form-row">
        <div class="form-group col-md-6">            
            <label asp-for="Dni" class="control-label"></label>
            <input asp-for="Dni" class="form-control" />
            <span asp-validation-for="Dni" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <input type="submit" value="@($"{ this.ViewData["Title"] }")" class="btn btn-info btn3d" />
    </div>
</form>


<div>
    <a asp-action="Index">Volver</a>
</div>

