

@if (User.IsInRole(nameof(RolesEnum.CLIENTE)) || !User.Identity.IsAuthenticated)
{
    @model IEnumerable<Grupo1.AgendaDeTurnos.Models.Centro>


    ViewData["Title"] = "Details";

    <h1>Details</h1>
    <div>
        @foreach (var item in Model)
        {
            <div class="divCentro">
                @Html.DisplayFor(modelItem => item.Direccion)

                @Html.DisplayFor(modelItem => item.Nombre)


                @Html.DisplayFor(modelItem => item.Telefonos)
            </div>
           
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        }
    </div>
}







