@model Grupo1.AgendaDeTurnos.Models.Profesional

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Profesional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrestacionId" class="control-label"></label>
                <select asp-for="PrestacionId" class="form-control" asp-items="ViewBag.PrestacionId"></select>
            </div>

            @{ if (ViewBag.estaLleno == "1")
                {
                    <div class="form-group">
                        <label class="control-label d-block">Disponibilidades</label>
                        <select multiple="multiple" name="listDias" class="multi-select" asp-items="ViewBag.Disponibilidades"></select>
                    </div>
                }
                else
                {
                    <span>Cree sus disponibilidades</span>
                }
            }
            <div class="form-group">
                <label asp-for="CentroId" class="control-label"></label>
                <select asp-for="CentroId" class="form-control" asp-items="ViewBag.CentroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input name="password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col col-md-7">
        <h2>Dias y horario disponible</h2>
        <div class="alert-danger">@TempData["Error"]</div>

        <form asp-controller="Disponibilidades" asp-action="AgregarDisponibilidad">
            <label class="control-label">Dia</label>
            <select name="dia" class="form-control" asp-items="ViewBag.DiasSemana"></select>




            <label>Desde</label>
            <input min="0" max="24" type="number" name="desde" />
            <label>Hasta</label>
            <input min="0" max="24" type="number" name="hasta" />
            <input type="submit" />


        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Volver</a>
</div>