@{
    ViewData["Title"] = "Home Page";
}
<h3>Bienvenido al Turnero IRT</h3>
<div class="row">
    <div class="col">
        <div>
            <p>Puede consultar las nuestros centros haciendo <a asp-controller="Centros">click aca</a></p>
        </div>
    </div>
</div>
